.header {
    background: lightcyan;
    border-top: 1px solid;
    border-bottom: 1px solid;
    height: 100px;
}

#leftcat {
    float: left;
}

#rightcat {
    float: right;
}

h2 {
    color: grey;
    font-size: 150%;
    font-family: "Garamond", monospace;
    text-align: center;
    vertical-align: center;
}

.layout {
    overflow: hidden;
}

#Ycor {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.layout DIV {
    float: left;
}

#content DIV {
    float: none;
    display: inline-block;
}

#content {
    padding-left: 40px;
    width: auto;
}

#input DIV {
    display: block;
}

#ad-unit-l {
    width: auto;
    max-width: 20%;
}

.add_block {
    horiz-align: center;
    margin-top: 20px;
    text-align: center;
    height: 245px;
}

.add_colon {
    width: 165px;
}

#firstColon {
    float: left;
}

.ad-img {
    height: auto;
    width: 80%;
}

#ad-unit-r {
    width: 350px;
    float: right;
}

#secondColon {
    float: left;
    margin-right: 10px;
}

#thirdColon {
    float: right;
}

#InputForm {
    float: left;
    width: 300px;
    margin-left: 10px;
}

A[href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"]:hover {
    font-size: 115%;
    color: red;
}

.Stallman {
    width: auto;
    height: 78px;
    float: left;
    margin-top: 3px;
}

#no-adblock-img {
    width: auto;
    height: 78px;
    float: left;
    margin-top: -1.5px;
}

#left-footer {
    float: left;
}

#right-footer {
    float: right;
}

.foot {
    width: 50%;
    height: 100%;
}

#footer {
    float: bottom;
    height: 75px;
    background-color: lightcyan;
    width: 100%;
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin-top: 191px;
}

#left_foot_text{
    margin-top: 10px;
}

#right_foot_text {
    margin-top: 20px;
}

.coordinate_plate {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    margin-top: 20px;
    margin-left: 0px;
    vertical-align: top;
    background-image: url(pics/plate.png);
    float: left;
}

#previous-results {
    vertical-align: top;
    margin-left: 20px;
    height: 425px;
    overflow: auto;
}

#top-circle {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: lightcyan;
}

#middle-circle {
    width: 75px;
    height: 75px;
    border-radius: 75px;
    background: aquamarine;
}

#bottom-circle {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background: aqua;
}